.my-5 {
  margin-bottom: 3rem!important;
  margin-top: 3rem!important;
}

.my-6 {
  margin-bottom: 3.6rem!important;
  margin-top: 3.6rem!important;
}

.no-br-radius {
  border-radius: 0!important;
}

.table-list td,
.table-list th {
  padding: 15px;
}

.status-dot {
  display: inline-block;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  margin: 0 .8em -.2em 0;

  &.green {
    background-color: green;
  }

  &.red {
    background-color: red;
  }
}

body > .container {
  min-height: calc(100vh - 222px);
}
