.my-5 {
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;
}

.my-6 {
  margin-bottom: 3.6rem !important;
  margin-top: 3.6rem !important;
}

.h2 {
  font-size: 3.56rem;
}

.no-br-radius {
  border-radius: 0 !important;
}

path:hover,
path:focus {
  stroke-width: 5px;
}

.table-list {
  th {
    cursor: pointer;
  }

  td,
  th {
    padding: 15px 5px;
  }
}

.status-dot {
  display: inline-block;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  margin: 0 0 0 0.6em;

  &.green {
    background-color: green;
  }

  &.red {
    background-color: red;
  }
}

.nav-wrapper h1 {
  margin: 0;
}

body > .container {
  min-height: calc(100vh - 222px);

  #logs {
    height: calc(100vh - 200px);
  }

  &.has-breadcrumb {
    min-height: calc(100vh - 286px);

    #logs {
      height: calc(100vh - 386px);
    }
  }
}
