aiofiles==23.1.0
aiohttp==3.8.4
aioredis==2.0.1
aiocache==0.12.1
alembic==1.10.4
asyncpg==0.27.0
black==23.3.0
celery==5.2.7
GitPython==3.1.31
msgpack==1.0.5
sanic==23.3.0
redis==4.5.5
requests==2.30.0
sanic_session==0.8.0
sanic-jinja2==2022.11.11
sqlalchemy==2.0.13
bcrypt==4.0.1
WTForms==3.0.1
Sanic-WTF==0.6.0
psycopg2-binary==2.9.6
