aiofiles==23.2.1
aiohttp==3.9.3
aioredis==2.0.1
aiocache==0.12.2
alembic==1.13.1
asyncpg==0.29.0
black==24.2.0
celery==5.3.6
GitPython==3.1.41
greenlet==3.0.3
msgpack==1.0.7
sanic==23.12.1
redis==5.0.1
requests==2.31.0
sanic_session==0.8.0
sanic-jinja2==2022.11.11
sqlalchemy==2.0.27
bcrypt==4.1.2
WTForms==3.1.2
Sanic-WTF==0.7.0
psycopg2-binary==2.9.9
