aiofiles==0.8.0
aiohttp==3.8.1
aioredis==2.0.1
aiocache==0.11.1
alembic==1.7.5
asyncpg==0.25.0
black==21.12b0
celery==5.2.3
GitPython==3.1.26
msgpack==1.0.3
sanic==21.12.1
redis==4.1.2
requests==2.27.1
sanic_session==0.8.0
sanic-jinja2==2022.1.13
sqlalchemy==1.4.31
bcrypt==3.2.0
WTForms==3.0.1
Sanic-WTF==0.6.0
psycopg2-binary==2.9.3
