{% extends 'base.html' %}

{% block title %}{{ file_name }}{% endblock %}
{% block page_title %}{{ file_name }}{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}node_modules/datatables/media/css/jquery.dataTables.min.css"  media="screen,projection"/>
{% endblock %}

{% block body %}
    <div>
        <table class="table-list white bordered row-border" id="logs">
            <thead class="grey darken-2">
                <tr>
                    <th class="no-br-radius white-text">Time</th>
                    <th class="no-br-radius white-text">ip</th>
                    <th class="no-br-radius white-text">Method</th>
                    <th class="no-br-radius white-text">url</th>
                    <th class="no-br-radius white-text">Status</th>
                    <th class="no-br-radius white-text">Protocol</th>
                    <th class="no-br-radius white-text">Size</th>
                    <th class="no-br-radius white-text">Referer</th>
                    <th class="no-br-radius white-text">user_agent</th>
                    <th class="no-br-radius white-text">f</th>
                    <th class="no-br-radius white-text">u</th>
                </tr>
            </thead>

            <tbody>
                {% for line in logs %}
                    <tr>
                        {% for cell in line %}
                            {% if loop.index0 == 1 %}
                                <td>
                                    <a target="_blank" rel="noopener noreferrer" class="{% if cell in known_ips %}green-text text-darken-3{% endif %}" href="https://www.abuseipdb.com/check/{{ cell }}">
                                        {{ cell }}
                                    </a>
                                </td>
                            {% else %}
                                <td>{{ cell }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            $('#logs').DataTable({
                "pageLength": 200,
                "order": [[0, "desc"]]
            });
        });
    </script>
{% endblock %}
