<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/node_modules/materialize-css/dist/css/materialize.min.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Admin{% endblock %}</title>
    <meta name="description" content="{% block description %}Site Administration{% endblock %}">
    <META name="robots" content="noindex,nofollow">
  </head>

  <body class="grey lighten-5">
    <nav class="blue-grey darken-4">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">Admin</a>
        <ul class="right">
          <li class="{% if request.path == '/about' %}active{% endif %}">
            <a href="/about" class="{% if request.path == '/about' %}active{% else %}grey-text{% endif %}">About</a>
          </li>
          {% if request.ctx.user %}
          <li class="{% if request.path == '/metrics' %}active{% endif %}">
            <a href="/metrics" class="{% if request.path == '/metrics' %}active{% else %}grey-text{% endif %}">Metrics</a>
          </li>
          <li class="{% if request.path == '/user' %}active{% endif %}">
            <a href="/user" class="{% if request.path == '/user' %}active{% else %}grey-text{% endif %}">{{ get_item(request.ctx.user, 'username') }}</a>
          </li>
          <li class="{% if request.path == '/logout' %}active{% endif %}">
            <a href="/logout" class="{% if request.path == '/logout' %}active{% else %}grey-text{% endif %}">Logout</a>
          </li>
          {% else %}
          <li class="{% if request.path == '/login' %}active{% endif %}">
            <a href="/login" class="{% if request.path == '/login' %}active{% else %}grey-text{% endif %}">Login</a>
          </li>
          {% endif %}
        </ul>
        <h1 class="center text-uppercase h2"><wbr>{% block page_title %}{% endblock %}</h1>
      </div>
    </nav>

    {% block body %}{% endblock %}

    <footer class="page-footer orange no-padding">
      <div class="footer-copyright">
        <div class="container">
          Made by <a class="orange-text text-lighten-3" href="mailto:mriynuk@email.com">Mike</a>
        </div>
      </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
