{% extends 'base.html' %}
{% block title %}Logs{% endblock %}
{% block body %}
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="breadcrumb">Sites</a>
                <a href="/sites/{{ site_name }}" class="breadcrumb">{{ site_name }}</a>
                <a href="/sites/{{ site_name }}/logs" class="breadcrumb">Logs</a>
            </div>
        </div>
    </nav>

    <div class="container my-6 has-breadcrumb">
        <h1 class="no-margin text-uppercase h4"><wbr>Logs</h1>
        <textarea id="logs" disabled>{{ logs }}</textarea>
    </div>
    <script type="text/javascript">
        var textarea = document.getElementById('logs');
        textarea.scrollTop = textarea.scrollHeight;
    </script>
{% endblock %}
