{% extends 'base.html' %}

{% block title %}{{ file_name }}{% endblock %}
{% block page_title %}{{ file_name }}{% endblock %}

{% block body %}
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="breadcrumb">Sites</a>
                <a href="/sites/{{ site_name }}" class="breadcrumb">{{ site_name }}</a>
                <a href="/sites/{{ site_name }}/{{ file_name }}" class="breadcrumb">{{ file_name }}</a>
            </div>
        </div>
    </nav>

    <div class="container my-6 has-breadcrumb">
        <textarea id="logs" disabled>{{ logs }}</textarea>
    </div>
    <script type="text/javascript">
        let textarea = document.getElementById('logs');
        textarea.scrollTop = textarea.scrollHeight;
    </script>
{% endblock %}
