{% extends 'base.html' %}

{% block title %}Metrics{% endblock %}
{% block page_title %}Metrics{% endblock %}

{% block body %}
<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" class="breadcrumb">Sites</a>
            <a href="/metrics" class="breadcrumb">Metrics</a>
        </div>
    </div>
</nav>

<div class="container my-5">
    <script src="https://www.gstatic.com/charts/loader.js"></script>

    <div id="ping_div"></div>
    <div id="status_div"></div>
</div>

<script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawCharts);

    const _pings = {{ pings|safe }};
    const _statuses = {{ statuses|safe }};

    function drawCharts() {
        drawChart('Ping', 'ping (ms)', 'ping_div', _pings, 1008, 500);
        drawChart('Status', '', 'status_div', _statuses, 1008, 100);
    }

    function drawChart(title, label, div_id, metric, width, height) {
        var data = new google.visualization.DataTable();

        data.addColumn('datetime', 'Time of Day');
        {% for site in sites %}
            data.addColumn('number', '{{ site.title }}');
        {% endfor %}
        for (let idx in metric) {
            metric[idx][0] = new Date(metric[idx][0])
            data.addRow(metric[idx]);
        }

        const options = {
            title: title,
            width: width,
            height: height,
            hAxis: {
                format: 'dd hh:mm',
                gridlines: {
                    count: -1,
                    units: {
                        days: {format: ['MMM dd']},
                        hours: {format: ['HH:mm', 'ha']},
                    }
                }
            },
            vAxis: {
                gridlines: {color: 'none'}
            }
        };

        let chart = new google.visualization.LineChart(document.getElementById(div_id));

        chart.draw(data, options);
    }
</script>
{% endblock %}
