{% extends 'base.html' %}

{% block title %}Sites{% endblock %}
{% block page_title %}Sites{% endblock %}

{% block body %}
<div class="container my-5">
  <table class="table-list white bordered">
    <thead class="grey darken-2">
      <tr>
        <th class="no-br-radius white-text" width="50">Status</th>
        <th class="no-br-radius white-text">Name</th>
        <th class="no-br-radius white-text">Ping (ms)</th>
        <th class="no-br-radius white-text">Codacy Badge</th>
        <th class="no-br-radius white-text">Requirements Status</th>
        <th class="no-br-radius white-text">Logs</th>
      </tr>
    </thead>

    <tbody>
      {% for repo in repos %}
      <tr>
        <td>
          <a href="{{ repo.url }}" target=”_blank” rel="nofollow">
            <div class="status-dot {% if repo.status %}green{% else %}red{% endif %}"></div>
          </a>
        </td>
        <td>
          <a href="https://github.com/mikekeda/{{ repo.name }}" target=”_blank” rel="nofollow">{{ repo.title }}</a>
        </td>
        <td>
          {{ repo.elapsed }}
        </td>
        <td>
          <a href="https://app.codacy.com/gh/mikekeda/{{ repo.name }}/dashboard" target=”_blank” rel="nofollow">
            <img src="{{ repo.codacy }}" alt="Codacy Badge" style="max-width:100%;">
          </a>
        </td>
        <td>
          <a href="https://requires.io/github/mikekeda/{{ repo.name }}/requirements/?branch=master" target=”_blank” rel="nofollow">
            <img src="https://requires.io/github/mikekeda/{{ repo.name }}/requirements.svg?branch=master" alt="Requirements Status" style="max-width:100%;">
          </a>
        </td>
        <td>
          <a href="/sites/{{ repo.name }}/error.log">error.log</a>
          <a href="/sites/{{ repo.name }}/out.log" class="right">out.log</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
