{% extends 'base.html' %}

{% block title %}Sites{% endblock %}
{% block page_title %}Sites{% endblock %}

{% block body %}
<div class="container homepage mb-5">
  <form method="post">

  <div class="input-field col s12">
    <button class="btn waves-effect waves-light right mb-2" type="submit" name="action">
      Update
      <i class="material-icons right">send</i>
    </button>
  </div>

  <table class="table-list white bordered" id="sites">
    <thead class="grey darken-2">
      <tr>
        <th class="no-br-radius white-text" width="30"></th>
        <th class="no-br-radius white-text" width="50">Status</th>
        <th class="no-br-radius white-text">Name</th>
        <th class="no-br-radius white-text">Logs</th>
        <th class="no-br-radius white-text">Python</th>
        <th class="no-br-radius white-text">pep8</th>
        <th class="no-br-radius white-text">pylint</th>
        <th class="no-br-radius white-text">Coverage</th>
        <th class="no-br-radius white-text">Builds</th>
        <th class="no-br-radius white-text">Badges</th>
        <th class="no-br-radius white-text" title="Security headers grade"></th>
      </tr>
    </thead>

    <tbody>
      {% for repo, python_version, builds, logs in repos %}
      <tr data-site="{{ repo.title }}">
        <td>
          <label class="hide">
            <input type="checkbox" name="{{ repo.title }}" disabled="disabled"/>
            <span></span>
          </label>
          <div class="preloader-wrapper xsmall active">
            <div class="spinner-layer spinner-green-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </td>
        <td data-order="{% if status == 200 %}0{% else %}1{% endif %}">
          <a href="{{ repo.url }}" target="_blank" rel="noopener">
            <div class="status-dot grey"></div>
          </a>
        </td>
        <td class="small-col">
          <a href="/sites/{{ repo.title }}">{{ repo.title }}</a>
        </td>
        <td>
          {% for log_file, process_status in logs %}
            <a href="/sites/{{ repo.title }}/{{ log_file }}" class="{% if process_status == 'RUNNING' %}green{% else %}red{% endif %}-text" title="{{ process_status }}">
              {{ log_file }}
            </a>
          {% endfor %}
        </td>
        <td>
          {{ python_version }}
        </td>
        <td>
          <a href="http://{{ SERVER_IP }}:8181/job/{{ repo.title }}/violations/" target="_blank">{{ (builds|last).pep8_violations }}</a>
        </td>
        <td>
          <a href="http://{{ SERVER_IP }}:8181/job/{{ repo.title }}/violations/" target="_blank">{{ (builds|last).pylint_violations }}</a>
        </td>
        <td>
          <a href="http://{{ SERVER_IP }}:8181/job/{{ repo.title }}/{{ (builds|last).number }}/cobertura/" target="_blank">{% if (builds|last).test_coverage %}{{ (builds|last).test_coverage|round(2) }}{% endif %}</a>
        </td>
        <td>
          {% for build in builds %}
            <a href="http://{{ SERVER_IP }}:8181/job/{{ repo.title }}/{{ build.number }}/console" target="_blank">
              <div class="tooltipped status-dot {% if build.status.value == 'STARTED' %}grey{% elif build.status.value == 'SUCCESS' %}green{%else%}red{% endif %}" data-position="top" data-tooltip="{{ build.commit_message }}"></div>
            </a>
          {% endfor %}
        </td>
        <td>
          <a href="https://app.codacy.com/gh/mikekeda/{{ repo.name }}/dashboard" target="_blank" rel="noopener">
            <img src="{{ repo.codacy }}" alt="Codacy Badge" loading="lazy">
          </a>
          {% if repo.coverage %}
          <a href="https://app.codacy.com/gh/mikekeda/{{ repo.name }}/dashboard" target="_blank" rel="noopener">
            <img src="{{ repo.coverage }}" alt="Coverage Badge" loading="lazy">
          </a>
          {% endif %}
          {% if (builds|last).black_status %}
          <a href="https://github.com/mikekeda/{{ repo.name }}" class="black-status" target="_blank" rel="noopener">
            <img src="{{ STATIC_URL }}img/code-style-black.svg" loading="lazy" alt="Black Badge">
          </a>
          {% endif %}
        </td>
        <td>
          <a class="security-headers-grade" data-site="{{ repo.url }}"
             href="https://securityheaders.com/?hide=on&q={{ repo.url }}" rel="noopener" target="_blank">
            <div class="preloader-wrapper xsmall active">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </form>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        let getUrl = window.location;
        let urlPrefix = getUrl.protocol + "//" + getUrl.host + "/api";
        let a_classes;

        const getCellValue = (tr, idx) => tr.children[idx].dataset.order || tr.children[idx].innerText || tr.children[idx].textContent;

        const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
                v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
        )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

        function getResponse(response) {
            if (!response.ok) {
                throw new Error(`Request failed with status ${reponse.status}`)
            }
            return response.json()
        }

        // do the work...
        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
            const table = th.closest('table').querySelector('tbody');
            Array.from(table.querySelectorAll('tr:nth-child(n+1)'))
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                .forEach(tr => table.appendChild(tr));
        })));

        document.querySelectorAll('tbody tr').forEach(function (tr) {
            // Check available_ pdates status.
            fetch(urlPrefix + "/available_updates/" + encodeURIComponent(tr.dataset.site))
                .then(response => getResponse(response))
                .then(data => {
                    let td = tr.querySelector('td:first-child');
                    td.querySelector('label + div').remove();
                    tr.querySelector('label').classList.remove("hide");
                    if (Object.keys(data).length !== 0) {
                        td.classList.add("tooltipped");
                        td.dataset.position = "right";
                        td.dataset.tooltip = JSON.stringify(data);
                        td.querySelector('input').disabled = false;
                        M.Tooltip.init(td);
                    }
                })
                .catch(error => console.log(error));

            // Check site status.
            fetch(urlPrefix + "/site_check/" + encodeURIComponent(tr.querySelector('td:nth-child(2) a').href))
                .then(response => getResponse(response))
                .then(data => {
                    a_classes = tr.querySelector('td:nth-child(2) a').querySelector('div').classList;
                    a_classes.remove("grey");
                    a_classes.add(data === 200 ? "green" : "red");
                })
                .catch(error => console.log(error));

            // Check security headers grade.
            fetch(urlPrefix + "/security_headers_check/" + encodeURIComponent(tr.querySelector('a.security-headers-grade').dataset.site))
                .then(response => getResponse(response))
                .then(data => {
                    tr.querySelector('a.security-headers-grade').innerHTML = data;
                })
                .catch(error => console.log(error));
        });

    });
</script>
{% endblock %}
