{% extends 'base.html' %}

{% block title %}{{ site.title }}{% endblock %}
{% block page_title %}<span class="{% if site_status == 200 %}green{% else %}red{% endif %}-text">{{ site.title }}</span>{% endblock %}

{% block body %}
<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" class="breadcrumb">Sites</a>

            <!-- Dropdown Trigger -->
            <a class='breadcrumb dropdown-trigger' href='#' data-target='sites-dropdown'>{{ site.title }}</a>

            <!-- Dropdown Structure -->
            <ul id='sites-dropdown' class='dropdown-content'>
                {% for title in sites %}
                <li><a href="/sites/{{ title }}">{{ title }}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>
</nav>

<div class="container my-5">
    <script src="https://www.gstatic.com/charts/loader.js"></script>

    <p>
        <a href="https://app.codacy.com/gh/mikekeda/{{ site.name }}/dashboard" target="_blank" rel="noopener">
            <img src="{{ site.codacy }}" alt="Codacy Badge">
        </a>
        {% if site.coverage %}
        <a href="https://app.codacy.com/gh/mikekeda/{{ site.name }}/dashboard" target="_blank" rel="noopener">
            <img src="{{ site.coverage }}" alt="Coverage Badge">
        </a>
        {% endif %}
        {% if is_black %}
        <a href="https://github.com/mikekeda/{{ site.name }}" target="_blank" rel="noopener">
            <img src="https://img.shields.io/badge/code%20style-black-000000.svg" alt="Black Badge">
        </a>
        {% endif %}
        {% if security_headers_grade %}
        <a href="https://securityheaders.com/?hide=on&q={{ site.url }}" target="_blank" rel="noopener">
            {{ security_headers_grade }}
        </a>
        {% endif %}

        {% for log_file, status in logs %}
        <a href="/sites/{{ site.title }}/{{ log_file }}" class="{% if status == 'RUNNING' %}green{% else %}red{% endif %}-text" title="{{ status }}">
            {{ log_file }}
        </a>
        {% endfor %}

        <a href="https://github.com/mikekeda/{{ site.name }}" class="right" target="_blank" rel="noopener">
            github
        </a>
    </p>

    <div class="row">
        {% if requirements_statuses %}
        <form action="/sites/{{ site.title }}/update" method="POST">
            <button class="btn waves-effect waves-light" type="submit" name="action">Update requirements
                <i class="material-icons right">send</i>
            </button>

            {% for file, requirements_status in requirements_statuses.items() %}
            {% if requirements_status %}
            <h4>Outdated requirements in {{ file }}:</h4>
            <table class="table-list white bordered">
                <thead class="grey darken-2">
                    <tr>
                        <th class="no-br-radius white-text" width="30px"></th>
                        <th class="no-br-radius white-text">Package</th>
                        <th class="no-br-radius white-text">Current</th>
                        <th class="no-br-radius white-text">Latest</th>
                    </tr>
                </thead>

                <tbody>
                {% for package, current, latest in requirements_status %}
                <tr>
                    <td>
                        <label>
                            <input type="checkbox" name="{{ package }}" checked="checked"/>
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <a href="https://pypi.org/project/{{ package }}/" target="_blank" rel="noopener">
                            {{ package }}
                        </a>
                    </td>
                    <td>{{ current }}</td>
                    <td>{{ latest }}</td>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% endfor %}
        </form>
        {% endif %}

        <h4>Metrics:</h4>
        <div id="ping_div" class="left"></div>
        <div id="status_div" class="left"></div>
        <div id="size_div" class="left"></div>
        <div id="pylint_violations_div" class="left"></div>
        <div id="pep8_violations_div" class="left"></div>
        <div id="test_coverage_div" class="left"></div>
    </div>

</div>
<script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawCharts);

    const _metrics = {{ metrics|safe }};
    const _builds = {{ builds|safe }};

    function drawCharts() {
        drawChart('Ping', 'ping (ms)', _metrics, 1, 'ping_div', 576, 500);
        drawChart('Response status', '', _metrics, 2, 'status_div', 576, 100);
        drawChart('Response size', 'size (kB)', _metrics, 3, 'size_div', 576, 100);
        drawChart('pylint violations', '', _builds, 1, 'pylint_violations_div', 576, 100);
        drawChart('PEP8 violations', '', _builds, 2, 'pep8_violations_div', 576, 100);
        drawChart('Test coverage', '', _builds, 3, 'test_coverage_div', 576, 100);
    }

    function drawChart(title, label, metrics, i, div_id, width, height) {
        let data = new google.visualization.DataTable();

        data.addColumn('datetime', 'Time of Day');
        data.addColumn('number', label);
        for (let idx in metrics) {
            data.addRow([new Date(metrics[idx][0]), metrics[idx][i]]);
        }

        const options = {
            title: title,
            width: width,
            height: height,
            hAxis: {
                format: 'dd hh:mm',
                gridlines: {
                    count: -1,
                    units: {
                        days: {format: ['MMM dd']},
                        hours: {format: ['HH:mm', 'ha']},
                    }
                }
            },
            vAxis: {
                gridlines: {color: 'none'}
            }
        };

        let chart = new google.visualization.LineChart(document.getElementById(div_id));

        chart.draw(data, options);
    }
</script>
{% endblock %}
