{% extends 'base.html' %}

{% block title %}Sites{% endblock %}
{% block page_title %}Sites{% endblock %}

{% block body %}
<div class="container mb-5">
  <form method="post">

  <div class="input-field col s12">
    <button class="btn waves-effect waves-light right mb-2" type="submit" name="action">
      Update
      <i class="material-icons right">send</i>
    </button>
  </div>

  <table class="table-list white bordered" id="sites">
    <thead class="grey darken-2">
      <tr>
        <th class="no-br-radius white-text" width="30"></th>
        <th class="no-br-radius white-text" width="50">Status</th>
        <th class="no-br-radius white-text">Name</th>
        <th class="no-br-radius white-text">Logs</th>
        <th class="no-br-radius white-text">Badges</th>
        <th class="no-br-radius white-text" title="Security headers grade"></th>
      </tr>
    </thead>

    <tbody>
      {% for repo, status, logs, black_status, security_headers_grade, available_updates in repos %}
      <tr>
        <td>
          <label>
            <input type="checkbox" name="{{ repo.title }}"{% if not available_updates %} disabled="disabled"{% endif %}/>
            <span></span>
          </label>
        </td>
        <td data-order="{% if status == 200 %}0{% else %}1{% endif %}">
          <a href="{{ repo.url }}" target="_blank" rel="noopener">
            <div class="status-dot {% if status == 200 %}green{% else %}red{% endif %}"></div>
          </a>
        </td>
        <td class="small-col">
          <a href="/sites/{{ repo.title }}">{{ repo.title }}</a>
        </td>
        <td>
          {% for log_file, process_status in logs %}
            <a href="/sites/{{ repo.title }}/{{ log_file }}" class="{% if process_status == 'RUNNING' %}green{% else %}red{% endif %}-text" title="{{ process_status }}">
              {{ log_file }}
            </a>
          {% endfor %}
        </td>
        <td>
          <a href="https://app.codacy.com/gh/mikekeda/{{ repo.name }}/dashboard" target="_blank" rel="noopener">
            <img src="{{ repo.codacy }}" alt="Codacy Badge" loading="lazy">
          </a>
          {% if repo.coverage %}
          <a href="https://app.codacy.com/gh/mikekeda/{{ repo.name }}/dashboard" target="_blank" rel="noopener">
            <img src="{{ repo.coverage }}" alt="Coverage Badge" loading="lazy">
          </a>
          {% endif %}
          {% if black_status %}
          <a href="https://github.com/mikekeda/{{ repo.name }}" target="_blank" rel="noopener">
            <img src="https://img.shields.io/badge/code%20style-black-000000.svg" loading="lazy" alt="Black Badge">
          </a>
          {% endif %}
        </td>
        <td>
          {% if security_headers_grade %}
            <a href="https://securityheaders.com/?hide=on&q={{ repo.url }}" target="_blank" rel="noopener">
              {{ security_headers_grade }}
            </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </form>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    const getCellValue = (tr, idx) => tr.children[idx].dataset.order || tr.children[idx].innerText || tr.children[idx].textContent;

    const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
        v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
        )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

    // do the work...
    document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
        const table = th.closest('table').querySelector('tbody');
        Array.from(table.querySelectorAll('tr:nth-child(n+1)'))
            .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
            .forEach(tr => table.appendChild(tr) );
    })));
  });
</script>
{% endblock %}
